{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/task.css' %}">
        <title>MKGant</title>
    </head>
    <body>
      <div class="page-header">
        <a href="/">□MKGant</a>
        <a href="{% url 'task_list' %}">タスク一覧</a>
        <a href="{% url 'task_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>新規作成</a>
      </div>
      <div class="content container">
          <div class="row">
              <div class="col-md-8">
              {% block content %}
              {% endblock %}
              </div>
          </div>
      </div>
    </body>
</html>
