{% extends 'gant/base.html' %}

{% block content %}
<div>
  <h2>タスク 一覧</h2>
</div>
<div>
  <table border="1">
    <tr>
      <th width="15%" colspan="2">操作</th>
      <th width="5%">ID</th>
      <th>タスク名</th>
      <th>実行者</th>
      <th>進行度</th>
      <th>開始予定日</th>
      <th>終了予定日</th>
      <th>最終更新日</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td><a class="btn btn-default" href="{% url 'task_edit' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span>編集</a></td>
      <td><a class="btn btn-default" href="{% url 'task_delete' pk=task.pk %}"><span class="glyphicon glyphicon-pencil"></span>削除</a></td>
      <td>{{task.id}}</td>
      <td>{{task.title}}</td>
      <td>{{task.user}}</td>
      <td>{{task.progress}}</td>
      <td>{{task.to_be_start_date}}</td>
      <td>{{task.to_be_complete_date}}</td>
      <td>{{task.update_at}}</td>
    </th>
    {% endfor %}
  </table>
</div>
{% endblock %}
